@import 'node_modules/ember-frost-core/addon/styles/addon';

.operation {
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 2px;
  font-size: $frost-font-xs;
  font-weight: normal;
  text-align: right;
}
